
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]x</title>
    <link rel="icon" href="/icon.ico" />
    <link rel="stylesheet" href="~/css/DashboardLayout.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        @await RenderSectionAsync("CSS", false)
    </style>
  </head>
  <body>
     <!-- Top Navigation -->
    <partial name="~/Views/Shared/PartialView/_NavLaptopPartiialView.cshtml" />
    <!-- Mobile Sidebar Offcanvas -->
    <partial name="~/Views/Shared/PartialView/_NavMobilePartiialView.cshtml" />

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <partial name="~/Views/Shared/PartialView/_DashboardSidebarPartialView.cshtml" />
            <!-- Main Content -->
            <div class="col-md-10 col-lg-10 col-12 main-content">
            @RenderBody()
            </div>
        </div>
       
    </div>


	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/DashboardLayout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


  </body>
</html>
